[submodule "submodules/gitalias"]
	path = submodules/gitalias
	url = https://github.com/GitAlias/gitalias.git
[submodule "submodules/posh-git-sh"]
	path = submodules/posh-git-sh
	url = https://github.com/lyze/posh-git-sh.git
[submodule "submodules/zsh-kubectl-prompt"]
	path = submodules/zsh-kubectl-prompt
	url = https://github.com/superbrothers/zsh-kubectl-prompt.git
