/resources/install/index.d/*
!/resources/install/index.d/.gitkeep
/test*
/tmp/
**/basic-setup-*-output.log
**/basic-setup-*-output.txt
install/minikube*
.env
*.deb
/shared-scripts/big-bang/bin/*
!/shared-scripts/big-bang/bin/.gitkeep
bin/
coverage.txt
coverage.out
